<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor, sit amet consetatur adispicing elit. Quia quibusdam quarant ilo a modi temptation</p>
        <p>Lorem ipsum dolor, sit amet consetatur adispicing elit. Quia quibusdam quarant ilo a modi temptation</p>
        <p>Lorem ipsum dolor, sit amet consetatur adispicing elit. Quia quibusdam quarant ilo a modi temptation</p>
   
    
    </div>
</body>
<%- include('./partials/footer.ejs') %>
</html>